html,
body {
  padding: 20px;
}

* {
  font-size: 32px;
  font-family: Helvetica, Arial, sans-serif;
}

.content {
  display: none;
  background: grey;
  border: 1px solid grey;
  margin: 10px 0;
  padding: 5px;
  color: white;
}

.show {
  /* hides from screen readers, and users */
  display: block;
}

.link {
  color: blue;
  text-decoration: underline;
}

.roundedCorners {
  border: 1px solid grey;
  border-radius: 5px;
}

.vintage {
  color: white;
  background-color: crimson;
  box-shadow: 4px 4px 8px grey;
  border: 1px solid darkred;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 10px;
}
